{% extends "guiaapp/base.html" %}

{% block title %} {{edit}} city - {% endblock %}

{% block body_block %}
<ol class="breadcrumb breadcrumb-border">
    <li><a href="/city">Menu</a></li>
    <li class="active">{{edit}} city</li>
</ol>

<form action="" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">Dados</div>
		
		{% csrf_token %}
		
		{{ form.non_field_errors }}
		
		{{ form.id  }}

        <div class="form-horizontal panel-padding2">

            <div class="form-group">				
				<label class="control-label col-md-2" for="description">Description *</label>
                <div class="col-md-4">
                    {{ form.description  }}
                    {{ form.description.errors }}
                </div>
            </div>


            <div class="form-group">
            	<label class="control-label col-md-2" for="active">UF *</label>

                 <div class="col-md-2">
                     {{ form.uf }}
                     {{ form.uf.errors }}
                </div>

            </div>
        </div>

        <div class="panel-footer">
             <a href="/city" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>

            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span> Confirmar
            </button>
        </div>
    </div>
</form>
{% endblock %}